.cover {
  object-fit: cover;
}

.w-100 {
  width: 100%;
}

.position-absolute {
  position: absolute;
}

.bubble1 {
  object-fit: cover;
  right: 20%;
  top: 20%;
  width: 200px;
}

@keyframes bubble {
  0% {
    transform: rotate(0) translate(0, 0);
  }
  20% {
    transform: rotate(0) translate(-10px, -5px);
  }
  50% {
    transform: rotate(10deg) translate(10px, 10px);
  }
  100% {
    transform: rotate(0) translate(0px, 0px);
  }
}

.floating {
  animation: bubble 4s ease 0s both infinite;
}
